/**
 * File Description: Examples page
 * Updated Date: 20/07/2024
 * Contributors: Mark
 * Version: 1.0
 */


.back-button-light-grey {
    background-color: whitesmoke;
    position: absolute;
    left: 15px;
    top: 15px;
}


h1 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.inputGroup {
    display: grid;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
  
  }


.inputGroup-label {
    position: relative;
    left: 5px;
    color: dimgray;
    padding: auto;
    margin-bottom: 10px;
  }


.input {
    margin-left: 5px;
}


.memberItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 5px;
  }


.insertedButton {
  margin-left: 10px;
  border: none;
  background-color: white;
}

.addMemberButton {
  margin-left: 10px;
  border: none;
  background-color: rosybrown;
  color: whitesmoke;
}

.buttomButton {
  margin-top: 20px;
  border: none;
  margin-right: 10px;
  margin-left: 10px;
  background-color: rosybrown;
  color: whitesmoke;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: space-between;
}


