/*COLOUR CODES*/
:root {
    --black: #282828;
    --dark-grey: #747474;

    --button-grey: #757B81;
    --button-grey-hover: #404346;

    --light-grey: #E0E0E0;
    --light-grey-hover: #a1a1a1;

    --white: #FFFFFF;

    --cream: #F2E9E4;

    --brown: #A38274;
    --brown-hover: #725245;

    --navy: #4A4E69;
    --navy-hover: #b3b7d9;
    --light-blue: #B0CCF3;

    --red: #F45151;
    --red-hover: #8c3636;

    --light-red: #FDC1C1;
    --dark-red: #B74C4C;
    --green: #5BBB6A;
}


* {
    box-sizing: border-box;
    /*    by default main-text style*/
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* this attribute makes sure by default words break at a space, excessively long words can break the middle */
    word-break: break-word;
}

body {
    background-color: var(--cream) !important;
}

body h1 {
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--black);
    cursor: default;
}

body h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: var(--navy);
    font-style: normal;
    font-weight: 500;
    cursor: default;
}

/* here are text classes */
body .main-text {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

body .large-text {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: inherit;
}

body .small-text {
    font-size: 15px;
    font-style: normal;
    font-weight: 480;
    line-height: normal;
    cursor: inherit;
}

body .menu-text {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: inherit;
}

body .center-spaced {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}


body .text-grey{
    color: var(--dark-grey);
}

body .text-red {
    color: var(--red);
}

/* general classes used application wide */
body .table {
    margin-bottom: 50px;
    max-width: 100%;
    min-width: 80%;
    width: fit-content;
}

.hidden {
    display: none;
}

.default__heading1 {
    margin-top: 20px;
}

.default__form {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: center;
}

.three-line {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
}

.clickable {
    cursor: pointer;
}

.non-clickable {
    cursor: default;
}

.default__button-group {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}

.icon-btn {
    border: none;
    background-color: white;
}

.non-clickable {
    cursor: default;
}


/* form input ERROR related classes */
.input-error-div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

