/* additional css for aligning text */
.center-text{
    text-align : center;
}

.center-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.side-container {
    display:inline-flex;
    align-content: center;
    align-items: center;
}

.right-padding {
    margin-right: 10px;
}