/* additional css for aligning text */
.center-text{
    text-align : center;
    vertical-align: middle;
}

.teams-button{
    display: flex;
    align-items: center;
}

.center-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.side-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.team-padding {
    margin-top: 15px;
    margin-right: 30px;

}

.team-padding .btn-grey{
    min-width: 10px;
}