/* MODAL (POPUP) STYLES */
.modal-base {
    background: var(--white);
    width: fit-content;
    min-width: 800px;
    min-height: 425px;
    padding: 50px;
    border-radius: 25px;
}

.modal-div-center {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-items: center;
    align-items: center;
}

.input-group {
    display: grid;
    grid-template-columns: 120fr 300fr 35fr;
    align-items: center;
    gap: 5px;
    width: 80%;
}

.input-group-2col {
    display: grid;
    grid-template-columns: 120fr 350fr;
    align-items: center;
    gap: 5px;
    width: 80%;
}


