/* MODAL (POPUP) STYLES */
.modal-base {
    background: var(--white);
    width: fit-content;
    min-width: 800px;
    min-height: 350px;
    padding: 50px;
    border-radius: 25px;
}

.modal-large {
    width: fit-content;
    min-width: 1000px;
    min-height: 600px;
}

.modal-div-center {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-items: center;
    align-items: center;
}

.input-group {
    display: grid;
    grid-template-columns: 120fr 300fr 35fr;
    align-items: center;
    gap: 5px;
    width: 80%;
}

.input-group-2col {
    display: grid;
    grid-template-columns: 12fr 35fr;
    align-items: center;
    gap: 5px;
    width: 80%;
}

.input-group-2col-full {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 5px;
    width: 100%;
}

#task-modal__tags-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    row-gap: 10px;
    box-sizing: border-box;
}

#task-modal__grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#task-modal__top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#task-modal__right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    justify-content: start;
    padding-left: 20px;
    border-left: 2px solid var(--dark-grey);
}

.task-modal__tags-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

#task-modal__hr {
    margin: 0;
    border-bottom: 1px solid var(--black);
    border-color: var(--black);
    width: 100%;
}

#task-modal__contribution {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 10px;
}

#task-modal__contribution-grid {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    align-items: center;
    width: 80%;
}

#task-modal__percent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}


.alert-text {
    color: var(--red);
    font-size: 18px;
}