/**
 * CSS for the TaskModal component
 */






.task-modal-divider {
    position: absolute;
    left: 50%;
    top: 41%;
    transform: translateY(-40%);
    width: 2px;
    height: 300px;
    background-color: var(--light-grey-hover);
}

.task-modal-footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
}

.task-modal-input {
    width: 100%;
    margin: 0;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.task-modal-input::placeholder {
    color: #a0a0a0;
}



.task-modal-description-input {
    height: 261px;
    margin: 0;
    background: var(--white);
    display: flex;
    min-width: 300px;
    padding: 5px 15px;
    align-items: center;
    border-radius: 6px;
    border: 2px solid var(--light-grey);
}

.task-modal-left label {
    color: #747474;
}

.task-modal-left label input {
    margin-right: 5px;
}


.task-modal-input.deadline,
.task-modal-input.status {
    margin-top: 5px;
    margin-bottom: 10px;
    display: inline-block;
}

.task-modal-input.status {
    width: 228px;
    font-size: 16px;
}

.task-modal-input.deadline {
    width: 177px;
    font-size: 16px;
}
